/* ---------- Basic Settings ---------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

body a{
    text-decoration: none;
    color: black;
}

body input:focus{
    outline: none;
}

::-webkit-scrollbar{
    display: none;
}

::-webkit-input-placeholder{
    font-size: 12px;
}

.hidden {
display: none;
}


/* ---------- Login Field ---------- */
.login-page, .before-login{
    height: 100%;
}

.login-page, .copy-right p{
    font-size: 10px;
}

.login-field .login-logo-name p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    letter-spacing: 3px;
    font-size: 15px;
}

.login-field .login-form input{
    width: 150px;
}

.login-field {
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}

.login-field .log-button:hover{
    transform: scale(1.2);
}


/* ---------- header ---------- */
.after-login .post{
    position: sticky;
    top: 0;
    background-color: white;
}

.header{
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    font-size: 12px;
}

.header .log-out .logoutText {
    font-size: 10px;
}

.header .log-out:hover{
    transform: scale(1.1);
}


/* ---------- Balane Field ---------- */
.current-balance{
background-color: rgba(0, 255, 255, 0.178);
border-radius: 5px;
}

.current-balance .balance-amount{
    font-size: 17px;
}

.current-balance .balance-right .day-time{
    font-size: 12px;
    margin-top: -6px;
    margin-left: 1px;
    color: cadetblue;
    letter-spacing: 0px;
}

.current-balance .balance-right .label{
font-size: 17px;
}


/* ---------- Main Field ---------- */
.transaction-left .transaction{
    border-top: 1px solid rgba(128, 128, 128, 0.1);
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
    font-size: 12px;
}

.transaction-left .transactionDetails{
    border-radius: 4px;
    color: white;
}

.transaction-left .transaction .transaction-deposit{
    background-color: rgb(0, 206, 127) ;
}

.transaction-left .transaction .transaction-withdrawl{
    background-color:rgb(240, 99, 99) ;
}

.transaction-left {
    background-color: rgba(0, 255, 255, 0.178);
    border-radius: 5px;
    overflow: scroll;
    height: 490px;
}

.transaction-right{
    border: 1px solid rgba(128, 128, 128, 0.1);
    border-radius: 5px;
}

.transaction-right input{
    width: 100px;
    border-radius: 5px;
    border: none;
    padding: 4px;
    margin-bottom: 2px;
}

.transaction-right .transfer-money #transfer-userid, #transfer-amount{
    background-color:rgb(255, 224, 85) ;
}

.transaction-right .loan #loan-userid, #loan-amount{
    background-color:rgb(0, 206, 127) ;
}

.transaction-right .close-account #close-userid, #close-password{
    background-color:rgb(240, 99, 99) ;
}

.transaction-right p{
    font-size: 12px;
}

.transaction-right button{
    width: 40px;
    border: 1px solid rgb(0, 0, 0,0.7);
    background-color: rgba(0, 213, 241);
    color: rgb(0, 82, 175);
    border-radius: 5px; 
    padding: 2px;
}

.transaction-right button:hover{
    transform: scale(1.1);
}

.transaction-right .transfer-money, .loan, .close-account{
    border-radius: 5px;  
}

.transaction-right .transfer-money{
    background-image: linear-gradient(to right,rgb(230, 255, 7),rgb(255, 81, 0));
}

.transaction-right .loan{
    background-image: linear-gradient(to right,rgb(13, 221, 124),rgb(2, 133, 24));
}

.transaction-right .close-account{
    background-image: linear-gradient(to right,rgb(255, 60, 80),rgb(211, 15, 34));
}


/* ---------- Summary ---------- */
.summary {
    background-color: rgba(0, 255, 255, 0.178);
}

.summary p{
    color: white;
}

.summary .summary-label-text {
    font-size: 13px;
}

.summary .in-amount-value, .interest-amount-value{
    background-color: rgb(0, 206, 127) ;
}

.summary .out-amount-value{
    background-color:rgb(240, 99, 99) ;
}


/* ---------- Footer ---------- */
.footer {
    background-color: rgba(0, 255, 255, 0.178);
    font-size: 11px;
}

